<app-navbar></app-navbar>
<section>
  <div *ngIf="character$ | async as character">
    <h2>{{ character.name }}</h2>
    <img src="{{ character.imageUrl }}" alt="{{ character.name }}" />
    <p>You can find me in {{ character.films }}</p>
    <p *ngIf="character.shortFilms.length !== 0">
      Or in shorter films like: {{ character.shortFilms }}
    </p>
    <p *ngIf="character.parkAttractions.length !== 0">
      Or in my favourite park attractions {{ character.parkAttractions }}
    </p>
    <p *ngIf="character.videoGames.length !== 0">
      You can also play with me in {{ character.videoGames }}
    </p>
    <p *ngIf="character.allies.length !== 0">
      My friends are: {{ character.allies }}
    </p>
    <p *ngIf="character.enemies.length !== 0">
      My enemies are: {{ character.enemies }}
    </p>

    <button (click)="goBack()">Go back</button>
  </div>
</section>
