<app-navbar></app-navbar>
<section>
  <div>
    <h2>Become the Main Character!</h2>
    <form (ngSubmit)="createCharacter()" [formGroup]="createForm">
      <label for="name">What is your name?</label>
      <textarea
        type="text"
        placeholder="Name here..."
        [formControl]="nameInput"
        name="name"
      ></textarea>

      <label for="films"
        >In what films would you like to appear?(If more than one write each one
        in a new Line)</label
      >
      <textarea
        type="text"
        placeholder="First film...\n Second film...\n Third film..."
        [formControl]="filmsInput"
        name="films"
      ></textarea>

      <label for="shortFilms"
        >Would you like to be in any short films?(If more than one write each
        one in a new Line)</label
      >
      <textarea
        type="text"
        placeholder="Short films here..."
        [formControl]="shortFilmsInput"
        name="shortFilms"
      >
      </textarea>

      <label for="tvShows"
        >Would you like to be in any TV shows?(If more than one write each one
        in a new Line)</label
      >
      <textarea
        type="text"
        placeholder="TV Shows here..."
        [formControl]="tvShowsInput"
        name="tvShows"
      ></textarea>

      <label for="videogames"
        >In what videogames do you appear??(If more than one write each one in a
        new Line)</label
      >
      <textarea
        type="text"
        placeholder="Video Games here..."
        [formControl]="videoGamesInput"
        name="videogames"
      ></textarea>

      <label for="parkAttractions"
        >Where can we find you in the park?(If more than one write each one in a
        new Line)</label
      >
      <textarea
        type="text"
        placeholder="Park Attractions here..."
        [formControl]="parkAttractionsInput"
        name="parkAttractions"
      ></textarea>

      <label for="allies"
        >Who are your best Disney Friends?(If more than one write each one in a
        new Line)</label
      >
      <textarea
        type="text"
        placeholder="Friends here..."
        [formControl]="alliesInput"
        name="allies"
      ></textarea>

      <label for="enemies">Who are your enemies?(If you have any)</label>
      <textarea
        type="text"
        placeholder="Enemies here..."
        [formControl]="enemiesInput"
        name="enemies"
      ></textarea>

      <label for="image">Can you give us the URL of your picture???</label>
      <textarea
        type="text"
        placeholder="Picture URL here..."
        [formControl]="imageInput"
        name="image"
      ></textarea>
      <button type="submit" [disabled]="createForm.invalid">
        Welcome to Disney
      </button>
    </form>
  </div>
</section>
