<app-navbar></app-navbar>
<section class="home">
  <h1 class="animate__animated animate__rotateIn" id="title">
    Our heroes and villans:
  </h1>
  <section>
    <div *ngIf="loading$ | async">Even miracles take a little time!</div>
    <mat-grid-list
      cols="2"
      rowHeight="2:1"
      gutterSize="0rem"
      *ngIf="!(loading$ | async)"
    >
      <mat-grid-tile *ngFor="let character of characters$ | async">
        <mat-card [routerLink]="['/characters', character.id]">
          <mat-card-header class="name">{{ character.name }}</mat-card-header>
          <img
            mat-card-image
            class="char-img"
            src="{{ character.imageUrl }}"
            alt="{{ character.name }}"
          />
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <a href="/characters#top"><i class="fa-solid fa-arrow-up"></i></a>
</section>
