<app-navbar></app-navbar>
<h1>Our heroes and villans:</h1>
<section>
  <div *ngIf="loading$ | async">Even miracles take a little time!</div>
  <mat-grid-list cols="2" *ngIf="!(loading$ | async)">
    <mat-grid-tile class="tile" *ngFor="let character of characters$ | async">
      <mat-card class="card">
        <a [routerLink]="['/characters', character.id]">
          <mat-card-header class="card-name">{{
            character.name
          }}</mat-card-header>
          <mat-card-content class="img-container"
            ><img
              class="card-img"
              src="{{ character.imageUrl }}"
              alt="{{ character.name }}"
          /></mat-card-content>
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
