.header{
    
    height: 10%;
    display: flex;
    justify-content: space-around;


}
img{
    height: 100%;
}
.nav-container{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;

}

.nav-container li a{
    text-decoration: none;
    color: white;
}
.nav-container li a:hover{
    font-size: larger;
    text-decoration: underline;
}