<app-navbar></app-navbar>
<section class="edit">
  <form>
    <label>Character's new name:</label>
    <input type="text" />
    <label>Character's new films:</label>
    <input type="text" />
    <label>Character's new series:</label>
    <input type="text" />
    <label>Character's new attractions:</label>
    <input type="text" />
    <label>Character's new allies:</label>
    <input type="text" />
    <label>Character's new enemies:</label>
    <input type="text" />
    <label>Character's new image:</label>
    <input type="text" />
  </form>
  <div class="btns">
    <button>Update</button> <button>Delete Character</button>
  </div>
</section>
