<app-navbar></app-navbar>

<section class="edit">
  <h2>Edit Character:</h2>
  <form (ngSubmit)="editCharacter()" [formGroup]="editForm">
    <mat-form-field>
      <mat-label for="name">Character's new name:</mat-label>
      <input
        type="text"
        matInput
        name="name"
        placeholder="New name.."
        [formControl]="nameInput"
      />
      <mat-error>Your name should be at least 2 letters long!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="films"
        >Character's new films: (If more than one write each one in a new
        line)</mat-label
      >
      <textarea
        matInput
        name="films"
        placeholder="First enemy here...&#10;Second enemy here...&#10;Third enemy here..."
        [formControl]="filmsInput"
        name="films"
      ></textarea>
      <mat-error>You must enter a film!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="shortFilms"
        >Character's new shortfilms:(If more than one write each one in a new
        Line)</mat-label
      >
      <textarea
        matInput
        name="shortFilms"
        placeholder="First short film...&#10;Second short film...&#10;Third short film..."
        [formControl]="shortFilmsInput"
        name="shortFilms"
      ></textarea>
      <mat-error>You must enter a short film!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="tvShows"
        >Character's new TV Shows:(If more than one write each one in a new
        Line)</mat-label
      >
      <textarea
        matInput
        placeholder="First TV Show...&#10;Second TV Show...&#10;Third TV Show..."
        [formControl]="tvShowsInput"
        name="tvShows"
      ></textarea>
      <mat-error>You must enter a TV Show!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="videogames"
        >New videogames(If more than one write each one in a new
        Line)</mat-label
      >
      <textarea
        matInput
        type="text"
        placeholder="First video game...&#10;Second video game...&#10;Third video game..."
        [formControl]="videoGamesInput"
        name="videogames"
      ></textarea>
      <mat-error>You must enter a video game!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="parkAttractions"
        >Character's new attractions(If more than one write each one in a new
        Line)</mat-label
      >
      <textarea
        matInput
        type="text"
        placeholder="First park attraction...&#10;Second park attraction...&#10;Third park attraction...."
        [formControl]="parkAttractionsInput"
        name="parkAttractions"
      ></textarea>
      <mat-error>You should be in a Park Attraction!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="allies"
        >Who are the character's new friends?(If more than one write each one in
        a new Line)</mat-label
      >
      <textarea
        matInput
        type="text"
        placeholder="First friend here...&#10;Second friend here...&#10;Third friend here..."
        [formControl]="alliesInput"
        name="allies"
      ></textarea>
      <mat-error>You should add some friends!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="enemies"
        >Who are the character's new enemies?(If he/she has any)</mat-label
      >
      <textarea
        matInput
        type="text"
        placeholder="First enemy here...&#10;Second enemy here...&#10;Third enemy here.."
        [formControl]="enemiesInput"
        name="enemies"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="image"
        >Can you give us the URL of the character's new picture???</mat-label
      >
      <textarea
        matInput
        type="text"
        placeholder="Picture URL here..."
        [formControl]="imageInput"
        name="image"
      ></textarea>
      <mat-error>Please enter a correct URL!!</mat-error>
    </mat-form-field>

    <div class="btns-container">
      <button
        mat-fab
        extended
        type="submit"
        color="accent"
        [disabled]="editForm.invalid"
      >
        Update
      </button>
      <button
        mat-fab
        extended
        color="warn"
        type="button"
        (click)="deleteCharacter()"
      >
        Delete this character
      </button>
    </div>
  </form>
</section>
